{% extends 'insurance/base.html' %}

{% block title %}O aplikaci{% endblock %}

{% block content %}
<div class="container">
    <h1>O aplikaci</h1>


    <h2>Úvod</h2>
    <p>Tato aplikace slouží k evidenci pojištěnců a jejich pojištění. Poskytuje funkce pro správu pojištěnců,
        včetně vytváření, úprav a mazání pojištěnců a jejich pojištění.</p>


    <h2>Testování aplikace</h2>
    <p>Pokud si chcete aplikaci vyzkoušet, můžete se přihlásit pomocí následujících účtů:</p>
    <ul>
        <li><strong>Admin účet:</strong> admin, <strong>Heslo:</strong> adminheslo</li>
        <li><strong>Uživatelský účet:</strong> milda_123, <strong>Heslo:</strong> poradneheslo123*</li>
    </ul>
    <p>
        Pomocí těchto účtů si můžete vyzkoušet funkce aplikace.
        Admin účet má přístup ke všem funkcím správy pojištěnců a pojištění, zatímco uživatelský účet má omezená práva.
    </p>


    <h2>Hlavní funkce</h2>
    <ul>
        <li>Kompletní správa pojištěnců (CRUD operace).</li>
        <li>Kompletní správa pojištění.</li>
        <li>Autentizace a registrace uživatelů.</li>
        <li>Ochrana citlivých údajů prostřednictvím autentizace.</li>
        <li>Responzivní design, který zajišťuje, že aplikace vypadá dobře na různých zařízeních (časem).</li>
    </ul>


    <h2>Technologie</h2>
    <p>Při vývoji této aplikace jsem použila následující technologie:</p>
    <ul>
        <li>Django - webový framework pro vývoj aplikací v Pythonu.</li>
        <li>SQLite - lehká databáze pro ukládání dat.</li>
        <li>HTML, CSS - pro tvorbu uživatelského rozhraní.</li>
        <li>JavaScript - pro validaci formulářů na straně klienta a vylepšení interaktivity aplikace.</li>
    </ul>


    <h2>O mně</h2>
    <p>Jmenuji se Lucie Králová a jsem začínající vývojář webových aplikací.
        Tuto aplikaci jsem vyvinula jako součást svého portfolia a jako způsob, jak se naučit
        a zdokonalit své dovednosti ve vývoji webových aplikací.</p>
    <p>Pokud máte jakékoli dotazy nebo zájem o spolupráci, neváhejte mě kontaktovat.</p>

</div>
{% endblock %}
