{% extends 'insurance/base.html' %}

{% block title %}Potvrzení smazání{% endblock %}

{% block content %}
<div class="container">
    <h1>Opravdu chcete smazat tento záznam?</h1>
    <p><strong>{{ object }}</strong></p>

    <form method="post" class="form-delete">
        {% csrf_token %}
        <button type="button" class="btn btn-back" onclick="window.location.href='{% url 'insured_list' %}'">Zpět</button>
        <button type="submit" class="btn btn-danger">Smazat</button>
    </form>
</div>
{% endblock %}