{% extends 'insurance/base.html' %}

{% block title %}
    Jak na pojištění
{% endblock %}

{% block content %}
<div class="container">
    <h1>Jak na pojištění</h1>

    <h2>Proč je důležité pojistit vašeho mazlíčka?</h2>
    <p>Pojistění domácích mazlíčků je důležité, protože vám poskytuje finanční ochranu v případě nečekaných událostí, jako jsou úrazy nebo nemoci vašeho mazlíčka.</p>

    <h2>Jaké druhy pojištění jsou k dispozici?</h2>
    <ul>
        <li>Základní složky pojištění domácích mazlíčků</li>
        <li>Doplňkové složky pojištění domácích mazlíčků</li>
        <li>Speciální druhy pojištění pro domácí mazlíčky</li>
        <li>Asistenční služby v rámci pojištění domácích mazlíčků</li>
    </ul>

    <h2>Jak si vybrat správné pojištění domácích mazlíčků?</h2>
    <ul>
        <li><strong>Rozsah krytí:</strong> Při výběru pojištění je důležité zvážit, jaká rizika chcete pokrýt (nemoc, úraz, odpovědnost, krádež) a jaké jsou maximální limity plnění.</li>
        <li><strong>Věk zvířete:</strong> Některé pojistky mají omezení týkající se věku zvířete, kdy například pojistná ochrana končí po dosažení určitého věku, nebo se s věkem zvyšuje pojistné.</li>
        <li><strong>Specifické potřeby zvířete:</strong> Pokud má váš mazlíček specifické zdravotní potřeby nebo predispozice k určitým onemocněním, je důležité vybrat pojištění, které tyto potřeby pokrývá.</li>
        <li><strong>Cena pojištění:</strong> Pojištění domácích mazlíčků se může výrazně lišit v ceně v závislosti na rozsahu krytí, věku a plemeni zvířete, a dalších faktorech.</li>
    </ul>

    <h2>Co je třeba vědět při uplatňování nároků na pojistné plnění?</h2>
    <ul>
        <li><strong>Dokumentace a doklady:</strong> Při uplatňování nároku je třeba mít k dispozici veškeré lékařské zprávy, faktury za ošetření, policejní zprávy (v případě krádeže) a další relevantní dokumenty.</li>
        <li><strong>Čekací lhůty:</strong> Některé pojistky mají čekací dobu, kdy pojištění začne plně platit až po uplynutí určité doby od uzavření pojistné smlouvy.</li>
        <li><strong>Výluky z pojištění:</strong> Je důležité si být vědom výluk, které mohou zahrnovat například vrozené vady, některá onemocnění nebo škody způsobené zanedbáním péče.</li>
    </ul>

    <h2>Jak pojištění sjednat?</h2>
    <p>Sjednání pojištění je jednoduché, můžete tak učinit online prostřednictvím naší aplikace.</p>
</div>
{% endblock %}