{% extends 'insurance/base.html' %}

{% block title %}Seznam pojištěnců{% endblock %}

{% block content %}
    <div class="container">
        <h1>Pojistěnci</h1>

        <div class="new-insured-button-container">
            <a href="{% url 'add_insured' %}" class="btn btn-primary new-insured-button">Nový pojištěnec</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Bydliště</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Jan Novák</a></td>
                    <td>Ve Svahu 3, Praha 1</td>
                    <td>
                        <button class="btn btn-danger">Odstranit</button>
                        <button class="btn btn-warning">Editovat</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">Josef Nový</a></td>
                    <td>Hlavní 145/1, Praha 3</td>
                    <td>
                        <button class="btn btn-danger">Odstranit</button>
                        <button class="btn btn-warning">Editovat</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">Hanka Blatná</a></td>
                    <td>Růžová 6, Pelhřimov</td>
                    <td>
                        <button class="btn btn-danger">Odstranit</button>
                        <button class="btn btn-warning">Editovat</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pagination">
            <a href="#" class="btn btn-light disabled">Předchozí</a>
            <a href="#" class="btn btn-primary">1</a>
            <a href="#" class="btn btn-light">2</a>
            <a href="#" class="btn btn-light">3</a>
            <a href="#" class="btn btn-light">Další</a>
        </div>
    </div>
{% endblock %}