{% extends 'insurance/base.html' %}

{% block title %}
    {% if form.instance.id %}
        Editace pojištění
    {% else %}
        Nové pojištění
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Titulek stránky dle stavu (editace/vytvoření nového pojištění) -->
        <h1>
            {% if form.instance.id %}
                Editace pojištění
            {% else %}
                Nové pojištění
            {% endif %}
        </h1>

        <!-- Formulář pro vytvoření nebo editaci pojištění -->
        <form method="post" class="form-horizontal">
            {% csrf_token %}

            <!-- Automatické zobrazení všech polí formuláře pomocí as_p -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <!-- Zobrazení formuláře s formátováním ve stylu odstavců -->
                    {{ form.as_p }}
                </div>
            </div>

            <!-- Tlačítko pro uložení formuláře -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary btn-save-insurance">
                        {% if form.instance.id %}
                            Uložit změny
                        {% else %}
                            Uložit
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}