{% extends 'insurance/base.html' %}
{% load static %}

{% block title %}Detail pojištěnce{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-header">
        <div class="profile-image">
            <img src="{% static 'images/profile_picture.png' %}" alt="{{ insured_person.first_name }} {{ insured_person.last_name }}">
        </div>
        <div class="profile-info">
            <div class="left-info">
                <h1>{{ insured_person.first_name }} {{ insured_person.last_name }}</h1>
                <p>{{ insured_person.street_address }}<br>{{ insured_person.city }}<br>{{ insured_person.postal_code }}</p>
            </div>
            <div class="right-info">
                <p>{{ insured_person.email }}</p>
                <p>{{ insured_person.phone_number }}</p>
            </div>
        </div>
    </div>

    <h2>Sjednaná pojištění</h2>
    <table class="table table-striped insured-detail-table">
        <thead>
            <tr>
                <th>Pojištění</th>
                <th>Částka</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for policy in insured_person.policies.all %}
            <tr>
                <td><a href="{% url 'policy_detail' policy.id %}">{{ policy.insurance_coverage.name }}</a></td>
                <td>{{ policy.premium|floatformat:0 }} Kč</td>
                <td>
                    <a href="{% url 'edit_policy' policy.id %}" class="btn btn-warning btn-sm">Editovat</a>
                    <a href="{% url 'delete_policy' policy.id %}" class="btn btn-danger btn-sm">Odstranit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="btn-group-centered">
        <a href="{% url 'add_policy' insured_person.id %}" class="btn btn-primary">Přidat pojištění</a>
        <a href="{% url 'edit_insured' insured_person.id %}" class="btn btn-warning">Editovat pojištěnce</a>
        <form method="post" action="{% url 'delete_insured' insured_person.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Opravdu chcete tohoto pojištěnce odstranit?');">Odstranit pojištěnce</button>
        </form>
    </div>
</div>
{% endblock %}