{% extends 'insurance/base.html' %}

{% block title %}Pojištění domácích mazlíčků{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title">Pojištění domácích mazlíčků</h1>
    <div class="insurance-grid">
        {% for insurance in insurances %}
        <div class="insurance-item">
            <div class="insurance-header">
                <strong class="insurance-name">
                    <a href="{% url 'insurance_coverage_list' insurance.id %}">{{ insurance.name }}</a>
                </strong>
                <button class="toggle-description" aria-expanded="false">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </div>
            <div class="insurance-description">
                {{ insurance.description }}
            </div>
            {% if user.is_staff %}
            <div class="insurance-actions">
                <a href="{% url 'edit_insurance' insurance.id %}" class="btn btn-warning">Editovat</a>
                <a href="{% url 'delete_insurance' insurance.id %}" class="btn btn-danger">Odstranit</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% if user.is_staff %}
    <div class="btn-container-center">
        <a href="{% url 'add_insurance' %}" class="btn btn-primary btn-add-insurance">Přidat nové pojištění</a>
    </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.toggle-description').forEach(button => {
            button.addEventListener('click', function() {
                const description = this.parentNode.nextElementSibling;
                const isExpanded = this.getAttribute('aria-expanded') === 'true';

                if (isExpanded) {
                    description.classList.remove('show');
                    this.setAttribute('aria-expanded', 'false');
                } else {
                    description.classList.add('show');
                    this.setAttribute('aria-expanded', 'true');
                }
            });
        });
    });
</script>
{% endblock %}