{% extends 'insurance/base.html' %}

{% block title %}{{ insurance_type.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title">{{ insurance_type.name }}</h1>
    <div class="insurance-coverage-list">
        {% for coverage in coverages %}
        <div class="coverage-item">
            <strong class="coverage-name">{{ coverage.name }}</strong>
            <p class="coverage-description">{{ coverage.description }}</p>
            <div class="coverage-actions">
                <a href="{% url 'add_policy_from_coverage' coverage.id %}" class="btn btn-primary btn-create-policy">Zřídit pojištění</a>
                {% if user.is_staff %}
                <a href="{% url 'edit_insurance_coverage' insurance_type.id coverage.id %}" class="btn btn-warning">Editovat</a>
                <form method="post" action="{% url 'delete_insurance_coverage' insurance_type.id coverage.id %}" style="display:inline;">
                    {% csrf_token %}
                    <a href="{% url 'delete_insurance_coverage' insurance_type.id coverage.id %}" class="btn btn-danger">Odstranit</a>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if user.is_staff %}
    <div class="btn-container-center">
        <a href="{% url 'add_insurance_coverage' insurance_type.id %}" class="btn btn-primary btn-add-insurance">Přidat nové pojistné krytí</a>
    </div>
    {% endif %}
</div>
{% endblock %}