{% extends 'insurance/base.html' %}

{% block title %}
    {% if form.instance.id %}
        Editace pojištění
    {% else %}
        Nové pojištění
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            {% if form.instance.id %}
                Editace pojištění
            {% else %}
                Nové pojištění
            {% endif %}
        </h1>
        <form method="post" class="form-horizontal">
            {% csrf_token %}

            <!-- Zde zobrazte celý formulář pomocí .as_p -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.as_p }} <!-- Použijeme form.as_p pro jednoduché vykreslení všech polí -->
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary btn-save-insurance">
                        {% if form.instance.id %}
                            Uložit změny
                        {% else %}
                            Uložit
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}